-- ace-notifications.sql

-- 1. Create ace_notifications table
CREATE TABLE IF NOT EXISTS ace_notifications (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 2. Kosongkan data dummy lama
TRUNCATE TABLE ace_notifications;

-- 3. Masukkan notifikasi dummy yang lebih realistis untuk uji coba
INSERT INTO ace_notifications (user_id, title, message)
SELECT id, 'Pengajuan Cuti Disetujui', 'Pengajuan cuti tahunan Anda untuk tanggal 10-12 Agustus telah disetujui oleh Kepala Sekolah.'
FROM auth.users
WHERE id IN (SELECT id FROM profiles WHERE role = 'teacher' OR role = 'hod');

INSERT INTO ace_notifications (user_id, title, message)
SELECT id, 'Dokumen Ditolak', 'Mohon maaf, dokumen RPP yang Anda unggah untuk supervisi tidak sesuai format. Harap revisi dan unggah ulang selambatnya besok.'
FROM auth.users
WHERE id IN (SELECT id FROM profiles WHERE role = 'teacher' OR role = 'hod');

INSERT INTO ace_notifications (user_id, title, message)
SELECT id, 'Pembaruan Jadwal Mengajar', 'Terdapat perubahan pada jadwal KBM Anda hari Kamis. Silakan periksa Ruang KBM untuk detailnya.'
FROM auth.users
WHERE id IN (SELECT id FROM profiles WHERE role = 'teacher' OR role = 'hod');

INSERT INTO ace_notifications (user_id, title, message, is_read)
SELECT id, 'Klaim Tunjangan Berhasil', 'Uang makan dan transport bulan ini sudah ditransfer ke rekening Anda yang terdaftar.', true
FROM auth.users
WHERE id IN (SELECT id FROM profiles WHERE role = 'teacher' OR role = 'hod');

-- 4. Reload Schema Cache
NOTIFY pgrst, 'reload schema';
