ALTER TABLE quizzes ADD COLUMN show_score BOOLEAN DEFAULT true;
ALTER TABLE quizzes ADD COLUMN show_answers BOOLEAN DEFAULT true;
ALTER TABLE quizzes ADD COLUMN show_explanation BOOLEAN DEFAULT false;
ALTER TABLE questions ADD COLUMN explanation TEXT DEFAULT NULL;
ALTER TABLE ace_question_bank_items ADD COLUMN explanation TEXT DEFAULT NULL;
