CREATE TABLE session_cbt_packages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  schedule_id uuid REFERENCES center_schedules(id) ON DELETE CASCADE,
  tutor_id uuid REFERENCES profiles(id),
  title text NOT NULL,
  status text DEFAULT 'draft',
  created_at timestamptz DEFAULT now()
);

CREATE TABLE session_cbt_questions (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  package_id uuid REFERENCES session_cbt_packages(id) ON DELETE CASCADE,
  question_text text NOT NULL,
  question_type text NOT NULL, -- 'mcq', 'complex_mcq'
  difficulty text NOT NULL, -- 'mudah', 'sedang', 'sulit'
  options jsonb NOT NULL,
  explanation text,
  order_index integer DEFAULT 0
);

CREATE TABLE session_cbt_submissions (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  package_id uuid REFERENCES session_cbt_packages(id) ON DELETE CASCADE,
  student_id uuid REFERENCES profiles(id) ON DELETE CASCADE,
  answers jsonb,
  score numeric,
  stars_earned integer,
  submitted_at timestamptz DEFAULT now(),
  UNIQUE(package_id, student_id)
);
