CREATE TABLE IF NOT EXISTS public.ai_drill_results (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  student_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
  subject TEXT NOT NULL,
  topic TEXT NOT NULL,
  total_questions INTEGER NOT NULL,
  correct_answers INTEGER NOT NULL,
  score INTEGER NOT NULL,
  weak_subtopics JSONB,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE public.ai_drill_results ENABLE ROW LEVEL SECURITY;

-- Create policies
CREATE POLICY "Users can view their own drill results"
  ON public.ai_drill_results FOR SELECT
  USING (auth.uid() = student_id);

CREATE POLICY "Users can insert their own drill results"
  ON public.ai_drill_results FOR INSERT
  WITH CHECK (auth.uid() = student_id);

