CREATE TABLE IF NOT EXISTS public.ace_ticket_messages (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    ticket_id UUID NOT NULL REFERENCES public.ace_tickets(id) ON DELETE CASCADE,
    sender_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
    message TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE public.ace_ticket_messages ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "View ticket messages" ON public.ace_ticket_messages;
CREATE POLICY "View ticket messages" ON public.ace_ticket_messages FOR SELECT USING (
    EXISTS (
        SELECT 1 FROM ace_tickets t 
        WHERE t.id = ticket_id 
        AND (
            t.requestor_id = auth.uid() 
            OR EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('tu', 'principal'))
        )
    )
);

DROP POLICY IF EXISTS "Insert ticket messages" ON public.ace_ticket_messages;
CREATE POLICY "Insert ticket messages" ON public.ace_ticket_messages FOR INSERT WITH CHECK (
    EXISTS (
        SELECT 1 FROM ace_tickets t 
        WHERE t.id = ticket_id 
        AND (
            t.requestor_id = auth.uid() 
            OR EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('tu', 'principal'))
        )
    )
);

